.navbar {
  position: fixed; /* sticky at top */
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease;
  z-index: 1000;
  background: transparent;
}

.navbar.scrolled {
  background: rgba(36, 37, 46, 0.3); 
  backdrop-filter: blur(12px);        
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(14, 157, 205);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-links li {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
  font-size: 1.2rem;
}

.nav-links li:hover {
  color: #00bcd4;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: rgba(221, 221, 221, 0.4);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    flex-direction: column;
    width: 200px;
    height: auto;
    padding: 1rem;
    display: none;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }
}
