.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  padding: 1rem 2rem;
  color: white;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  color: #982598;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  color: #00bcd4;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    flex-direction: column;
    width: 200px;
    height: auto;
    padding: 1rem;
    display: none;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }
}