.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  padding: 1rem 2rem;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00bcd4;
}

/* Hamburger icon */
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #191a1a;
    flex-direction: column;
    width: 200px;
    height: auto;
    padding: 1rem;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
